pipeline/pl_api_exchange_rates.json
{
	"name": "pl_api_exchange_rates",
	"properties": {
		"activities": [
			{
				"name": "df_get_distinct_dates",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_get_distinct_dates",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Lookup_existing_dates",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_get_distinct_dates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT requested_date FROM dbo.exchange_rates;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "exchange_rates",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup_file_dates",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_existing_dates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"dataset": {
						"referenceName": "distinct_dates",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_file_dates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_file_dates').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(string(activity('Lookup_existing_dates').output.value),item().order_date ))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_new_date",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "API_doller_inr",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(\n  'https://api.frankfurter.app/',\n  formatDateTime(item().order_date,'yyyy-MM-dd'),\n  '?from=USD&to=INR'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_data_api_to_adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API_doller_inr",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_exchange_api",
									"type": "DatasetReference",
									"parameters": {
										"order_date": "@item().order_date"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_json_exchange",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "API_doller_inr",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n    not(equals(activity('API_doller_inr').output.ADFHttpStatusCodeInResponse, 200)),\n    empty(activity('API_doller_inr').output.rates.INR)\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Append_variable_failed_dates",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "failed_dates",
											"value": {
												"value": "@json(concat('{ \"order_date\": \"', item().order_date, '\" }'))",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Append_variable_failed_dates_copy1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "API_doller_inr",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "failed_dates",
								"value": {
									"value": "@json(concat('{ \"order_date\": \"', item().order_date, '\" }'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "df_flatten_exchange_rates",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach_new_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_flatten_exchange_rates",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "If_failed_dates_present",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(variables('failed_dates')), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "error_date_toFile",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "err_var_to_ADLS",
									"type": "DataFlowReference",
									"parameters": {
										"p_failed_dates": {
											"value": "@base64(variables('failed_dates_str'))",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "failed_dates_str",
					"value": {
						"value": "@string(variables('failed_dates'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_new_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('failed_dates')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy err data to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "order_date",
											"value": {
												"value": "@item().order_date",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dummy_json",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "err_date_actual_file",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"api_key": {
				"type": "string",
				"defaultValue": "4619aead989167ae79eda9fd5e7f084e"
			}
		},
		"variables": {
			"failed_dates": {
				"type": "Array"
			},
			"failed_dates_debug": {
				"type": "Array"
			},
			"failed_dates_str": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-25T08:42:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}